%h1 All Users

%table
  %thead
    %tr
      %th Grade
      %th Content
      %th User
      %th
      %th
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= user.email
        %td= user.name
        %td= user.job_role

%br
